.about {
  display: none;
  margin: 0 auto 94px;

  @media (min-width: $desktop) {
    display: block;
  }
}
.about-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-list-img {
  width: 370px;
}

.about-item-wrapp {
  position: relative;
}

.about-img-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;

  color: white;

  height: 70px;
  width: 100%;
  background-color: #2f303acc;
}
