.advantages {
  margin: 0 auto 94px;
}

.advantage-list {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin: 0;
  }
}

.advantage-item {
  @media (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media (min-width: $desktop) {
    flex-basis: calc((100% - 30px * 3) / 4);
  }
}

.advantage-item:not(:last-child) {
  margin-bottom: 30px;
}

.advantage-item::before {
  content: ' ';
  display: block;
  max-width: 450px;
  height: 120px;

  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center;

  border-radius: 4px;

  background-color: $bg-btn-color;
}

.advantage-item:first-child::before {
  background-image: url(../images/antenna.svg);
}

.advantage-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.advantage-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.advantage-item:last-child::before {
  background-image: url(../images/astronaut.svg);
}

.advantage-title {
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
  color: $main-color;

  text-align: center;

  @media (min-width: $tablet) {
    text-align: start;
  }
}
.advantage-subtitle {
  line-height: calc(24 / 14);
  color: $secondary-color;
}
