.hero {
  height: 400px;
  max-width: 480px;

  margin: 0 auto 94px;

  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-mob.jpeg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // background-image: linear-gradient(
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../images/hero-bg.jpg);
}

.hero-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  max-width: 360px;

  margin-bottom: 30px;

  color: $second-brand-color;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-transform: uppercase;
}

.hero-btn {
  width: 200px;
  height: 50px;

  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: $second-brand-color;
  background-color: $brand-color;
}

.hero .hero-btn:hover {
  background-color: brand-color;
}
